nav > ul > li {
  padding: 15px;
  display: inline-block;
  /* background-color: gray; */
  width: 100%;
}
nav > ul > li > a {
  display: block;
  width: 100%;
}
nav > ul > li:hover {
  background-color: lightblue;
}

@media (max-width: 1004px) {
  #welcome2 {
    display: none;
  }
  #desktopItems {
    display: none;
  }
  #hamburgerMenuIcon {
    display: block;
  }
  #mobileMenuItems > ul > li {
    width: 100%;
    background-color: #a37dc1;
    text-align: center;
  }
}
#space-mono-bold-italic {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', serif;
  font-weight: 900;
  font-style: italic;
}
