nav > ul > li {
  padding: 15px;
  display: inline-block;
  /* background-color: gray; */
  width: 100%;
}
nav > ul > li > a {
  display: block;
  width: 100%;
}
nav > ul > li:hover {
  background-color: lightblue;
}

@media (max-width: 1004px) {
  #desktopItems {
    display: none;
  }
  #hamburgerMenuIcon {
    display: block;
  }
  #mobileMenuItems > ul > li {
    width: 100%;
    background-color: bisque;
    text-align: center;
  }
}
